@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

$font-primary: "Gabarito", sans-serif;
$font-secondary: "Karla", sans-serif;

// Font / Size

a,
h2,
h3,
h1 {
  font-family: $font-primary;
}

h4,
p,
span {
  font-family: $font-secondary;
}
